
#nameHeading {
    color: purple;
}

.bio {
   font-size: large; 
    
}

body {
    margin: 25px 50px 75px 100px;
    background-color: silver;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 50px 75px 100px;
  }

  